<div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-4">
        <nav class="navbar navbar-inverse">
            <button class="navbar-toggle navbar-toggle-right" type="button" data-toggle="collapse" data-target="#menuBar"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="glyphicon glyphicon-th-large"></span>
            </button>
                <!-- Brand and toggle get grouped for better mobile display -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="menuBar">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/testimony">Testimony</a>
                        </li>
                        <li class="active">
                            <a href="/gallery">Gallery</a>
                        </li>
                        <li>
                            <a href="/pastor-post">Pastor's post</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
                <!-- /.container-fluid -->
        </nav>
    </div>
</div>
<div class="row space-top">
    <div class="col-md-6 col-md-offset-3">
        <div class="row">
            <form action="/gallery/upload_success" method="post" enctype="multipart/form-data">
                <div class="col-md-12">
                    {{#if uploadSuccess}}
                    <div class="alert alert-success">
                        File successfully uploaded
                    </div>
                    {{/if}}
                </div>
                <div class="col-md-6">
                    <label class="btn btn-primary no-round pull-left" for="image-upload" style="margin-bottom: 20px;"> Upload Image</label>
                    <input name="imageUploaded" id="image-upload" class="hidden" type="file">
                </div>
                <div class="col-md-6">
                    <button type="submit" class="btn btn-success no-round pull-right">Save</button>
                </div>
            </form>
        </div>
        <div class="col-body">
            <div class="row">
                {{#if noImages}}
                <h3> No Images Yet </h3>
                {{/if}} 
                {{#each images}}
                    <div class="col-md-6 margin-bottom">
                        <div class="image">
                            <img class="img-responsive" src="{{this.url}}" />
                        </div>
                    </div>
                {{/each}}
            </div>

        </div>
    </div>
</div>