<div class="row">
    <div class="col-md-7 col-md-offset-3 col-sm-4">
        <nav class="navbar navbar-inverse">
            <button class="navbar-toggle navbar-toggle-right" type="button" data-toggle="collapse" data-target="#menuBar" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="glyphicon glyphicon-th-large"></span>
            </button>
            <!-- Brand and toggle get grouped for better mobile display -->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="menuBar">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/testimony">Testimony</a>
                    </li>
                    <li>
                        <a href="/gallery">Gallery</a>
                    </li>
                    <li>
                        <a href="/pastor-post">Pastor's post</a>
                    </li>
                    <li>
                        <a href="/daily-devotion">Daily Devotion</a>
                    </li>
                    <li>
                        <a href="/ebook">Ebooks</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
            <!-- /.container-fluid -->
        </nav>
    </div>

    <div class="col-md-6 col-md-offset-3 col-sm-4">
        <div class="row">
            {{#if noPic}}
            <div class="col-md-6">
                <form action="/pastor-picture/add" method="post" enctype="multipart/form-data">
                    <label>Upload Pastor's picture</label><br/>
                    <label for="pastorImage" class="btn btn-primary no-round">Upload</label>
                    <input type="file" id="pastorImage" name="imageUploaded" class="hidden" />

                    <button type="submit" class="btn btn-success no-round pull-right">Save</button>
                </form>
            </div>
            {{/if}} {{#if pastorPic}}
            <div class="col-md-6">
                <label> Pastor's Picture</label>
                <div class="pastor-pic" style="margin-bottom: 50px;">
                    <img src="{{pastorPic.url}}" class="img-responsive" />
                </div> 
                <form action="/pastor-picture/{{pastorPic._id}}/update" method="post" enctype="multipart/form-data">
                    <label for="changePic" class="btn btn-primary no-round"> Change Image</label>
                    <input type="file" id="changePic" name="imageUploaded" class="hidden" />
                    <button type="submit" class="btn btn-success no-round pull-right"> Save</a>
                </form>
            </div>
            {{/if}}
        </div>
    </div>
</div>